html {
    font-size: 18px;
    line-height: 140%;
    font-family: Helvetica;
}

.container {
    display: flex;
    width: 960px;
    margin: 0 auto;
}

header {
    margin-top: 1rem;
}

header .container {
    z-index: 1;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: white;
    padding: 1rem 0 1rem 0;
}

.logo img {
    display: inline-block;
    height: 1.5rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.logo {
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.menu li {
    display: inline;
    padding-right: 2rem;
}

.main-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("../glasses-bg.png");
    height: 31rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    background-color: white;
    color: black;
    padding: 1.5rem 5rem;
    ;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 10rem;
    align-self: right;
}

.banner.container {
    display: flex;
    justify-content: flex-end;
}

.products {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
}

.product {
    display: inline-flex;
    height: 8rem;
    flex-direction: column;
    width: 5rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 3rem 0 3rem;
    text-align: center;
    line-height: 150%;
}

.product img {
    width: 5rem;
}

#exams-img {
    width: 3rem;
}

.contacts {
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
}

.contact-title {
    width: 10rem;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    color: white;
}

.contact {
    width: 35%;
    margin-right: 5%;
}

.contact p {
    line-height: 1.5;
    margin-bottom: 5rem;
}

footer {
    width: 100%;
    display: flex;
    background-color: azure;
    padding: 4rem;
    align-items: center;
}

footer img {
    height: 1.5rem;
    margin-right: 1rem;
}